.calculator{
    width: 400px;
    height: 500px;
    background-color:rgb(231, 231, 231) ;
    margin-left: 466px;
}
#screen{
    width: 80%;
    height: 42px;
    margin-left: 40px;
    margin-top: 21px;
    pointer-events: none;
}
.btn{
    width: 53px;
    height: 44px;
    margin-left: 36px;
     margin-top: 25px;
     background: black; 
     color: white;
}
.btn:hover{
    background: rgb(25, 107, 214);
}
.body{
    background: black ;
   
}
.text{
    font-size: 107px;
    font-style: normal;
    color: rgb(25, 107, 214);
    
}
.multi{
padding-left: 403px;
}



.click{
    margin-left: 238px;
    height: 40px;
    width: 130px;
    color: rgb(69, 99, 233);
    background: black;
    font-size: 20px;
}
.click:hover{
    background: rgb(255, 255, 255);
}



@media (max-width:414px) and (max-height:896px){
    .body{
        background: rgb(19, 17, 17);
    }
    .multi{
        padding: 0px;
    }
    .text{
        font-size: 45px;
        text-align: center;
        font-weight: bolder;
        color: rgb(251, 30, 30);

    }
    .click{
        margin: 4% 37%;
        font-weight: bolder;
        font-size: 15px;
        text-align: center;
        background: rgba(31, 114, 161, 0.541);
        text-decoration: none;
        height: 32px;
        width: 94px;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        position: relative;
        
    }
    .calculator{
        margin: 0px -7px;
        width: 412px;
    }
       
    }
